
.trendingAsset {
  position: absolute;
  width: 146px;
  height: 32px;
  left: 111px;
  top: 232px;
  botton: 663px;
  right: 1650px;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #ecf0ff;
  opacity: 0.9;
}

.main {
  left: 83.89px;
  right: 1816.89px;
  top: 246.34px;
  bottom: 677.34px;
}

.trendingAssetIcon {
  position: absolute;
  left: 83.89px;
  right: 1816.89px;
  top: 246.34px;
  bottom: 677.34px;
  width: 6.23px;
  height: 3.32px;
}
.trendingAssetIconVector {
  position: absolute;
  height: 13.333333969116211px;
  width: 13.333333969116211px;
  top: 241.33px;
  left: 80.33px;
  bottom: 672.33px;
  right: 1813.33px;
  border-radius: 0px;
}
.card {
  box-sizing: border-box;
  position: relative;
  left: 87px;
  right: 1529.26px;
  top: 371.92px;
  bottom: 205px;
}
.card1 {
  box-sizing: border-box;
  position: relative;
  left: 87px;
  right: 1529.26px;
  top: 371.92px;
  bottom: 205px;
  /* margin-left: 70px; */
}
.cryptoCard {
  height: 435px;
  width: 290.739990234375px;
  border-radius: 0px;
  top: 371.92px;
  left: 87px;
  margin-right: 70.26px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(46, 49, 73, 0.1) 107.43%
  );
  backdrop-filter: blur(100px);
}

.coin {
  box-sizing: border-box;
  height: 100px;
  width: 99.99999237060547px;
  left: 95.3701171875px;
  top: -3.0799560546875px;
  border-radius: 100px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
  backdrop-filter: blur(100px);
}

.bitCoin {
  position: absolute;
  width: 49.83px;
  height: 49.84px;
  left: calc(50% - 49.83px / 2 + 0.37px);
  top: 25px;
}

.bitCoinLogo {
  position: absolute;
  width: 22.07px;
  height: 30.56px;
  left: calc(50% - 24.07px / 2 + 0.8px);
  top: 34.41px;
  height: 30.56113624572754px;
  width: 22.07196617126465px;
  border-radius: 0px;
}

.innerCardDetails {
  box-sizing: border-box;

  position: absolute;
  left: 0.34%;
  right: 0.09%;
  top: 12.48%;
  bottom: 0%;
  backdrop-filter: blur(100px);
}
.bitCoinText {
  position: absolute;
  width: 231px;
  height: 31px;
  left: 32px;
  top: 121px;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
  text-align: center;
  color: #737bae;
  opacity: 0.9;
}
.rectanglePriceBox {
  box-sizing: border-box;

  position: absolute;
  width: 242px;
  height: 40px;
  left: 25px;
  top: 235px;
  background: #14172b;
  border-radius: 17px;
}
.btcPriceBox {
  box-sizing: border-box;
  position: absolute;
  width: 242px;
  height: 40px;
  left: 21px;
  top: 160px;
  background: #14172b;
  border-radius: 17px;
}
.btcPrice {
  width: 241px;
  height: 31px;
  left: 21px;
  top: 164.5px;
  margin-top: 4px;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: #ecf0ff;
  opacity: 0.9;
}

.btcPercentage {
  position: absolute;
  width: 62.58px;
  height: 31px;
  left: 199.42px;
  top: 164.5px;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
  text-transform: uppercase;
  color: #00ffa3;
  opacity: 0.9;
}
.priceText {
  position: absolute;
  width: 241px;
  height: 31px;
  left: 25px;
  top: 200px;

  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
  text-align: center;
  color: #5a5f7d;
  opacity: 0.9;
}
.actualPriceBtc {
  margin-top: 4px;
  width: 241px;
  height: 31px;
  left: 25px;
  top: 239.5px;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: #ecf0ff;
  opacity: 0.9;
}
.tvlText {
  position: absolute;
  width: 241px;
  height: 31px;
  left: 27px;
  top: 275px;

  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #5a5f7d;
  opacity: 0.9;
}
.popularPairBtc {
  position: absolute;
  width: 121.75px;
  height: 40px;
  left: 87px;
  top: 310px;
  background: #14172b;
  border-radius: 29.5px;
}
.solana {
  position: absolute;
  width: 22px;
  height: 22px;
  left: calc(50% - 22px / 2 - 34.87px);
  top: 9px;
}
.solanaLogoBTC {
  position: absolute;
  width: 13px;
  height: 8px;
  left: 19px;
  top: 15.74px;
}

.ethereum {
  position: absolute;
  left: 40.97%;
  right: 40.97%;
  top: 22.5%;
  bottom: 22.5%;
}
.binance {
  position: absolute;
  width: 14.67px;
  height: 14.67px;
  left: calc(50% - 14.67px / 2 + 35.13px);
  top: 12.67px;
}
.binanceOuter {
  position: absolute;
  width: 22px;
  height: 22px;
  left: calc(50% - 22px / 2 + 35.13px);
  top: 9px;
}
.diamond {
  position: absolute;
  width: 6px;
  height: 4px;
  left: 93px;
  top: 18px;
}
.popularPairText {
  position: absolute;
  width: 241px;
  height: 31px;
  left: 27px;
  top: 358px;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #5a5f7d;
  opacity: 0.9;
}
