.bitCoin {
  position: absolute;
  width: 49.83px;
  height: 49.84px;
  left: calc(50% - 49.83px / 2 + 0.37px);
  top: 25px;
}

.bitCoinLogo {
  position: absolute;
  width: 22.07px;
  height: 30.56px;
  left: calc(50% - 24.07px / 2 + 0.8px);
  top: 34.41px;
  height: 30.56113624572754px;
  width: 22.07196617126465px;
  border-radius: 0px;
}

.innerCardDetails {
  box-sizing: border-box;
  position: absolute;
  left: 0.34%;
  right: 0.09%;
  top: 12.48%;
  bottom: 0%;
  backdrop-filter: blur(100px);
}

.solana {
  position: absolute;
  width: 22px;
  height: 22px;
  left: calc(50% - 22px / 2 - 34.87px);
  top: 9px;
}
.solanaLogoBTC {
  position: absolute;
  width: 13px;
  height: 8px;
  left: 19px;
  top: 15.74px;
}

.ethereum {
  position: absolute;
  left: 40.97%;
  right: 40.97%;
  top: 22.5%;
  bottom: 22.5%;
}
.binance {
  position: absolute;
  width: 14.67px;
  height: 14.67px;
  left: calc(50% - 14.67px / 2 + 35.13px);
  top: 12.67px;
}
.binanceOuter {
  position: absolute;
  width: 22px;
  height: 22px;
  left: calc(50% - 22px / 2 + 35.13px);
  top: 9px;
}
.diamond {
  position: absolute;
  width: 6px;
  height: 4px;
  left: 93px;
  top: 18px;
}
